* {box-sizing: border-box}

header, nav, section, footer{
    border: 1px solid black;
}

@media (max-width: 768px) {
    .nav__link{
        border-bottom: 1px solid gray;
        padding-left: 20px;
    }
    nav{
        order: -1;
    }
}
