.nav__li {
    display: inline-block;
    margin: 5px 60px 5px 60px;
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav{
    border: 1px solid black;

}
.nav__li.github {
    display:flex;
    flex-basis: 30%;
    align-self: baseline;
}

.github-logo{
    margin-right: 2px;
    width: 17px;
    height: 17px;
}