#header h1 {
  height: 56px;
  display: flex;
  justify-content: center;
}

#header h1>div {
  width:33%;
  display: flex;
  position: relative;

}

#header h1 div div{
  display: flex;
  justify-content: center;
  width: 9%;
  color: #e1e1d0
}

#header p {
  height: 30px;
  display: flex;
  justify-content: center;
  color: #e1e1d0
}

@media only screen and (max-width: 480px) {
  #header h1>div {
    width:60%;
  }
}

.skills-icon{
  width: 100px;
  height: 100px;
}

.skill{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
}


.skills-icon--active {
  width: 130px;
  height: 130px;
}

.skills {
  min-height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.skill-description{
  text-align: center;
  min-height: 65px;
  margin-top: 50px;
}

.skill-description p{
margin: 0 !important;
}

.input-error {
  border: 1px solid red !important
}

.input-error::placeholder{
color: red;
opacity: 1
}